@model DetailsViewModel

@{
    ViewBag.Title = "Ruaha Post";
}


<body class="wide" id="body-content">
    <div class="container">
        <div class="row justify-content-center m-lg-2">
            <div class="col-sm-12">
                <div class="blog-post">
                    <div class="item-thumbs">
                        @{
                            var photoPath = "/images/" + ( "error/Colorlib.jpg");
                            <img src="@photoPath" alt="Slider Image">
                        }

                    </div>
                    <div class="blog-outer">
                        <div class="meta">
                            <span><a href="#"><i class="fa fa-tag"></i> @Model.Post.Category.ToString()</a></span>
                            <span class="date">@Model.Post.PostTime</span>
                            <span><a asp-controller="Home" asp-action="BlogLikes" asp-route-Id="@Model.Post.Id" data-toggle="tooltip" title="" data-original-title="25" class="like-icons"><i class="fa fa-thumbs-up fa-3x"></i></a></span>
                            <span><a asp-controller="Home" asp-action="Comment" asp-route-Id="@Model.Post.Id" data-toggle="tooltip" title="" data-original-title="12" class="comments-icon" ><i class="fa fa-comment fa-3x" ></i></a></span>
                        </div>
                        <h3 class="blog-title">@Model.Post.Headline</h3>
                        <div class="admin-text">
                            <p><img src="~/images/author-thumb.jpg" alt="" class="img-circle"></p>
                            <i>By @Model.Post.Name</i>
                        </div>
                    </div>
                    <div class="blog-text">
                        @Model.Post.WriteUp
                    </div>
                    @foreach (BlogComments blogComment in Model.Comments)
                    {
                        <hr />
                        var Picture = "/images/" + (blogComment.UserPicture?? "profile.png");

                        <div class="bg-white p-2">
                            <div class="d-flex flex-row user-info">
                                <img class="rounded-circle" src="@Picture" width="40">
                                <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">@blogComment.UserName</span><span class="date text-black-50">Shared publicly - @blogComment.TimeOfComment</span></div>
                            </div>
                            <div class="mt-2">
                                <p class="comment-text">@blogComment.Body</p>
                            </div>
                        </div>
                        <hr />
                    }
                    <div class="blog-bottom">
                        <div class="social-icons pull-left">
                            <ul>
                                <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" title="" data-original-title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <div class="pull-right"><a asp-action="index" asp-controller="home" class="more-links">Back Home</a></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>